Flask==2.3.3                 # Web framework
gunicorn==20.1.0             # WSGI HTTP Server for UNIX
pandas==1.5.3                # Data manipulation library
scikit-learn==1.2.0          # Machine learning library
nltk==3.7                    # Natural Language Toolkit for NLP tasks
matplotlib==3.6.2            # Plotting library

